body {
  
}
main {
  min-height: 90vh;
  /* position: relative; */
}
div.dropdown-menu.show a.active.dropdown-item {
  background-color: grey;
}
div.dropdown-menu.show a.active.dropdown-item:hover {
  color: white;
  background-color: black;
  text-decoration: none;
}
div.dropdown-menu a.dropdown-item:hover{
  color: white;
  background-color: black;
  text-decoration: none;
}
div.card-body a {
  text-decoration: none;
  color: #3c3c3c;
  font-weight: 350;
}
div.card-body a:hover {
  color: black;
}
div.card-body a .card-title {
  /* line-height: 2rem; */
}

div.row div.col-md-5 img {
  max-height: 100%;
  min-height: 100%;
}

div a img {
  height: 8rem;
}

h3 {
  padding: 1rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
.rating span {
  margin: 0.1rem;
}
div.container a.navbar-brand img {
  height: 4rem;
  width: 7rem;
}

a.btn.btn-light.my-3:hover{
  background-color: black;
  color: white;
}

div.nav-item a {
  color: black
}

div.nav-item a:hover {
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 0.28rem;
  color: gray;
}

ul.pagination li.page-item span.page-link{
  color: white;
  background-color: black;
  border-color: gray;
}
ul.pagination li.page-item a {
  color: black; 
 }
footer {
  background-color: #ffffff;
  border-top: 0.1rem solid lightgray;
}