main {
  min-height: 90vh;
  /* position: relative; */
}
div.card-body a {
  text-decoration: none;
}
div.card-body a .card-title {
  /* line-height: 2rem; */
}

div .card-img, .card-img-top {
  height: 8rem;
}

h3 {
  padding: 1rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
.rating span {
  margin: 0.1rem;
}
img {
  height: 4rem;
  width: 7rem;
}

a.btn.btn-light.my-3:hover{
  background-color: black;
  color: white;
}

div.nav-item a {
  color: black
}

div.nav-item a:hover {
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 0.28rem;
  color: gray;
}